*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#banner{
    height: 100px;
    display: flex;
    width: 100%;
}
#banner img{
    width:20%;
    height: 100px;
}
#banner div{
    width: 60%;
    text-align: center;
    line-height: 1.6;
    color:blue;
}

#menu{
    height: 50px;
    background-color: #000000;
}
#menu > ul{
    display: flex;
    list-style: none;
}
#menu > ul > li{
    width: 20%;
    text-align: center;
    border-left: 1px solid #ffffff;
    position: relative;
}
#menu ul li a{
    font-size: 16px;
    font-weight: 700;
    color:#ffffff;
    line-height: 50px;
    text-decoration: none;
    display: block;
}
#menu > ul > li:hover > a{
    background-color: red;
    color:yellow;
}
li.sub-menu ul{
    list-style: none;
    position: absolute;
    top:50px;
    left: 0;
    right:0;
    background-color: #000000;
    display: none;
}
li.sub-menu ul li{
    border-top: 1px solid #ffffff;
}
li.sub-menu  ul  li:hover a{
    background-color: red;
    color:yellow !important;
}
li.sub-menu:hover ul{
    display: block;
}
#content{
    display: flex;
    height: 600px;
}
.left{
    background-color:darksalmon;
}
#left{
    width: 40%;
    background-color: aqua;
}
#left {
    background-color: purple;
}
#right{
    width: 60%;
    background-color: darkgreen;
}
/* 
   vs important: vo han
   vs viet trong dong style: 1000
   vs id : 100
   vs class: 10
   vs tg: 1
   th cung so diem thi no se tuan 
   theo thang nao viet sau
 */
