/*------------responsive-------------*/
@media only screen and (max-width: 1024px) {
    .header-logo img{
        margin-right: 0;
    }
    
    .header .header-contact  {
        padding-left: 0;
        padding-right: 0;
    }
    
    .header {
        justify-content: space-evenly;
        position: relative;
    }
    .img-content img{
        margin-top: 0;
    }

    .header .header-menu {
        display: none;
    }

    .header-logo-menu {
        display: flex;
    }

    .menu-after {
        display: block;
    }

    /* body */
    .body,.ve_etravel--tourBody{
        margin-top: 0 !important;
    }
    .why--img{
        width: 160%;
    }
    .why--img img{
        width: 100%;
    }
    .contact--right{
        width: 63% !important;
    }
    .form--group{
        width: 45% !important;
    }
    .ve_etravel--tourBody p{
        padding: 0 16px;
    }
    .content .tour-item {
        width: 50% !important;
    }

    .tour-item:nth-child(3) {
        margin-top: 20px !important;
    }
    .list10 {
        width: 90vw !important;
    }
    .list5 {
        width: 90vw !important;
    }

    .container5 {
        display: block !important;
        width: 98vw !important;
        padding: 0 15px !important;
    }

    .container5  .content5 {
        width: 100% !important;
    }

    .container5 .category5 {
        width: 100% !important;
    }
    .img-header3 img{
        margin: 0 !important;
    }
    .img-content > img{
        margin-top: 0 !important;
    }
    /* footer */

    .end .end-container {
        width: 767px;
    }
}

@media only screen and (max-width: 768px) {

    /*---------body-----------*/
    
    .disfex1{
        flex-wrap: wrap;
    }
    .body--feedback{
        padding: 20px 0;
    }
    .why--img img{
        width: 100%;
    }

    .contact--right,.contact--left,.form--group{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .width__flex--item{
        width: 100%;
        margin-bottom: 20px;
    }
    .form--group{
        margin-bottom: 15px !important;
        width: 46.3%;
    }
    h3.text--center,h1.text--center{
        padding: 0 24px !important;
    }
    .container .list-item {
        width: 90vw !important;
    }

    .content .tour-item {
        width: 100% !important;
    }

    .item1{
        width: 48% !important;
    }
    .list10 {
        width: 97vw !important; 
        display: block !important;
    }

    .item10 {
        display: block !important;
        width: 100% !important;
    }

    .img-header3 img{
        margin-top: 0 !important;
    }

    .item-img10,
    .item-img10 {
        width: 100% !important;
    }
    .img-content > img{
        margin-top: 0 !important;
    }

    /*-------------footer----------*/
    .footer-item {
        width: 100%;
        padding-top: 10px;
    }

    .footer-item:first-child p {
        margin-bottom: 0;
    }

    .end .end-container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 480px)
{
    .item1{
        width: 100% !important;
    }
}
